# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Database
*.db
*.sqlite3

# Node/Frontend
node_modules/
dist/
build/
.npm/
.eslintcache

# Mac
.DS_Store

# IDEs
.idea/
.vscode/

# Project Specific
backend/static/questions/
.env
